/* @font-face {
    font-family: myFont;
    src: url(levin.ttf);
} */
header img{
width: 13%;
margin: 0 auto;
display: block;
padding-top: 15px;
}
body
{
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
   scroll-behavior:smooth;
   background-color: #fad9d2;
}
.video-container {
    width: 60%;
    margin: 0 auto;
    display: block; 
    position: relative;
}
.responsive-padding {
    padding: 35% 0 0 0;
    position: relative;
    padding-top: 0%;
}
nav{
    margin: 0.7% auto;
    direction: rtl;
}
nav ul{
    display: flex;
    justify-content: center;
    margin: 0;
}
nav ul li{
    display: inline;
    margin: 0 1%;
    font-weight: bold;
}
nav ul li a{
    text-decoration: none;
    color: #A47B2D;
    font-size: 17px;
}
nav ul li a:hover{
    text-decoration: underline;
}
footer{
    margin: 5% auto;
}
footer ul{
list-style-type: none;
}
footer ul li{
display: inline;
margin: 0 1%;
}
footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    margin: 0;
}
footer ul li {
    margin: 0 10px;
}
footer ul img {
    width: 45px; 
}
footer b{
text-align: center;
display: block;
color: black;
font-size: 20px;
}
footer .rights{
font-weight:400;
text-align: center;
display: block;
color: black;
font-size: 18px;
}
.card-img-top
{
    width: 100%;
}
.card-title
{
    text-align: right;
}
.card-text
{
    text-align: right;
}
.card
{
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: inline-block;
}
main
{
    width: 60%;
    margin: 0 auto;
    display: block;
    padding-top:20px;
}
::marker
{
    content: none;
}
.card1{
    border: 2px solid #A47B2D;   
    width: 30%;
    display: inline-block;
    margin: 10px 1%;
    margin-top: 0%;
    box-shadow: #A47B2D 0 0 15px;
}
.card1 b{
    text-align: right;
    font-size: 25px;
    color: white;
    background-color: #A47B2D;
    right: 0;
    padding: 3px;
    direction: rtl;
    font-weight: lighter;
}
.title{
    position: absolute;
    right: 0;
    bottom:25px;
}
.card1 p{
    text-align: right;
    margin-right: 4%;
    font-size: 20px;
}
.card1 a{
    text-decoration: none;
    color: white;
}
.carousel-control-next-icon
{
    background-color: #A47B2D;
}

.carousel-control-prev-icon
{
    background-color: #A47B2D;
}
.carousel-item {
    transition: transform 0.20s ease, opacity 2s ease !important;
}
article{
    width: 100%;
    display: block;
    text-align: center;
    padding: 30px;
}
article h1{
    font-size: 45px;
    padding: 10px;
    padding-bottom: 20px;
    color: #A47B2D;
}
article p{
    font-size: 30px;
}
article a{
    text-decoration: none;
    color: black;
}
article .contact
{
    padding-bottom: 15px;
}
article a:hover{
    text-decoration: underline;
    color: black;
}

article button
{    
    background-color: #A47B2D;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
}
article button:hover
{
    box-shadow: #A47B2D 0 1px 30px;
    transition-duration: .1s;
}
article button a{
    text-decoration: none;
    color: white;
}
article button a:hover{
    text-decoration: underline;
    color: white;
}
.info{
    display: flex;
    width: 60%;
    margin: 20px auto;
    border: 2px solid #A47B2D;
    background-color: #A47B2D;
    box-shadow: #A47B2D 0 0 15px;
}
.info img{
    width: 40%;
}
.info aside{
    display: inline-block;
    text-align: right;
    padding-top: 5%;
    width: 58%;
}
.info b{
    font-size: 35px;
    color: white;
    text-align: center;
    display: block;
    direction: rtl;
}
.info p{
    font-size: 16px;
    color: #FEFBD8;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: lighter;
    direction: rtl;
}
@media screen and (max-width: 640px) {
    header img{
        width: 30%;
        padding-top: 10px;
    }
    nav{
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    nav ul{
        display: inline-block;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    nav ul li{
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 1% 1%;
        text-decoration: underline #A47B2D;
    }
    .video-container {
        width: 100%;
        margin: 0 auto;
        display: block; 
        position: relative;
    }
    article h1
    {
        font-size: 35px;
        padding-top: 0;
    }
    article p
    {
        font-size: 25px;
    }
    main{
        width: 100%;
        padding-top: 0;
    }
    .card1{
        width: 90%;
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
    }
    .card1 b{
        font-size: 40px;
    }
    .info{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .info img{
        content: url('https://i.ibb.co/Vgyrc8n/F24-B6173-1-nn.jpg');
        width: 100%;
    }
    .info aside{
        width: 100%;
    }

}
/* @media screen and (max-width: 768px){
    .card1{
        width: 90%;
    }
    .card1 p{
        margin-right: 0;
    }
    .info img{
        width: 100%;
    }
    .info aside{
        width: 100%;
    }
    .card1 b{
        font-size: 20px;
    }
    .card1 p{
        font-size: 15px;
    }
    .card1 a{
        font-size: 15px;
    }
    article h1{
        font-size: 30px;
    }
    article p{
        font-size: 20px;
    }
    article button
    {
        font-size: 20px;
    }
    article button a{
        font-size: 20px;
    }
    footer ul img {
        width: 25px; 
    }
    footer b{
        font-size: 15px;
    }
    footer .rights{
        font-size: 13px;
    }
    main
    {
        width: 90%;
    }
    .card
    {
        width: 90%;
    }
    .card-img-top
    {
        width: 100%;
    }
    .card-title
    {
        text-align: center;
    }
    .card-text
    {
        text-align: center;
    }
    .card
    {
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        display: inline-block;
    }
    .card1{
        width: 90%;
    }
    .card1 b{
        font-size: 20px;
    }
    .card1 p{
        font-size: 15px;
    }
    .card1 a{
        font-size: 15px;
    }
    .info img{
        width: 100%;
    }
    .info aside{
        width: 100%;
    }
    .info b{
        font-size: 25px;
    }
    .info p{
        font-size: 20px;
    }
    
} */